form {
  background-color: lightslategray;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

label {
  color: white;
}

.div1 {
  border: 3px outset black;
  margin: 10px;
  padding: 10px;
}

.div2 {
  border: 3px outset black;
  margin: 10px;
  padding: 10px;
}

.div3 {
  margin: 10px;
}
