@{
    ViewBag.Title = "Error";
}

<h1>Error</h1>

<h3>Ha ocurrido un error :/</h3>

<p>@ViewBag.Error</p>

<div align="center">
    <img src="https://www.clipartkey.com/mpngs/m/210-2106327_robot-error-404-png.png" />
</div>
